<footer id="footer" class="border-top py-2 text-body-tertiary">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <small>&copy; DKU IRDM Lab 2025</small>
    <div class="d-flex flex-column align-items-end">
      <small>Room 511, Software ICT Hall, Dankook University, South Korea</small>
      <small>Powered by <a class="link" href="https://github.com/theeluwin/pelican-labsite" target="_blank">Pelican Labsite</a>.</small>
    </div>
  </div>
</footer>
